<div>
  <div class="ui horizontal divider">
    <i class="user secret icon"></i>
    <%= comment.user.username %>
  </div>

  <div class="ui divider"></div>
    <p><%= comment.content %></p>
  <div class="ui divider"></div>
</div>
